.footer-container {
  background-color:#7868e6;
  padding: 4rem 0 2rem 0;
  height:max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  display: flex;
}

.footer {
  text-align: center;
}

.footer-heading {
  color: white;
  font-size: 30px;
  font-family: 'Poppins', sans-serif;
  font-weight: lighter;
}
.socials {
  width: 100%;
}
.social-icon-link {
  color: white;
}

.socials-wrapper {
  display: flex;
  justify-content: space-between;
}
.social-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 10%;
  max-width: 1000px;
  margin: 30px auto 0 auto;
}
.website-rights {
  color: white;
  margin-bottom: 16px;
  text-align: center;
  margin-top: 30px;
  font-family: 'Poppins', sans-serif;
  font-weight: lighter;
}
