.gallery {
  margin: 5px;
  padding: 0 0 4rem 0;
}
.ui-pics {
  width: 100%;
}
.ui-image-container {
  position: relative;
  width: 50%;
  margin-left: 100px;
  margin-top: 100px;
}
.ui-hover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0.1;
  transition: 0.5s ease;
  background-color: black;
}
.ui-image-container:hover .ui-hover {
  opacity: 90%;
}
/* .ui-image-links:hover {
  background: white;
  color: #242424;
  transition: 250ms;
} */
/* .ui-hover:hover {
  transform: scale(1.1);

  background-color: black;
} */

.ui-text {
  color: white;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.ui-image {
  display: block;
  width: 100%;
  height: auto;
}
