@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

p1,
p2,
p3,
p4,
strong {
  font-family: "Montserrat";
}
p1,
p2,
p4 {
  font-size: 20px;
}

.blocks {
  margin-top: 60px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 40px;
  max-width: 100%;
}
.reasearch-block {
  margin-top: 50px;
}
.research-header {
  font-size: 70px;
  color: #b8b5ff;
}
.painPoint,
.journeyMap {
  max-width: 100%;
  max-height: 65vh;
}
