.dropdown-menu {
  width: 200px;
  position: absolute;
  top: 80px;
  list-style: none;
  text-align: start;
}
.dropdown-menu li {
  background-color: #b8b5ff;
  cursor: pointer;
}
.dropdown-menu li:hover {
  background-color: #edeef7;
}

.dropdown-menu.clicked {
  display: none;
}
.dropdown-link:hover {
  color: black;
}
.dropdown-link {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: #fff;
  padding: 16px;
}

@media screen and (max-width: 960px) {
  .fa-caret-down {
    display: none;
  }
}
