.images {
  background-color: black;
}
.ui-image1 {
  height: 350px;
  position: relative;
  margin-left: 5rem;
}
/* .image-2 {
  background-color: grey;
} */
.ui-image2 {
  height: 350px;
  position: relative;
  margin-left: 8rem;
  opacity: 1;
}

.ui-image3 {
  height: 350px;
  position: relative;
  margin-left: 7rem;
}
