@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.home,
.about,
.projects {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  background-color: #b8b5ff;
  color: #ffff;
  font-size: 75px;
  font-family: "Fjalla One", sans-serif;
}

.daily-ui {
  font-family: "Fjalla One", sans-serif;
  /* margin-left: 37rem; */
  background-color: #e4fbff;
  font-size: 35px;
  margin-top: 3rem;
  text-align: center;
}
.daily-ui-p {
  font-family: "Fjalla One", sans-serif;
  justify-content: center;
  display: flex;
}

.coding {
  font-family: "Fjalla One", sans-serif;
  background-color: #e4fbff;
  font-size: 35px;
  /* margin-left: 37rem; */
  margin-top: 1rem;
  text-align: center;
}

.about {
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
}
.about-image {
  background-image: url("/images/new2.png");
  background-size: cover;

  height: 500px;
  width: 70%;
  border-radius: 50%;
}
.about-image-wrapper {
  width: 700px;
  padding-top: 20px;
  padding-left: 20px;
  border-right: 2px; /*this line and below fixed the border problem*/
  position: absolute;
}

.projects {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.about-text {
  text-align: start;
  color: grey;
  font-size: 25px;
  float: right;
  /* margin-left: 50rem; */
  margin-right: 5rem;
  max-width: 50%;
  min-width: 30;
  height: fit-content;
  padding-top: 5rem;
}
.text {
  font-family: inherit;
  vertical-align: auto;
  font-size: 25px;
}
.hey {
  font-size: 60px;
}

.about-adios {
  text-align: right;
  font-size: 50px;
  color: black;
  font-family: inherit;
  padding-right: 100px;
  padding-top: 100px;
}
.about-container {
  display: flex;
}

.slider {
  display: flex;
  position: absolute;
  margin-top: 50px;
  margin-left: 30px;
  max-width: 20%;

  /* justify-content: right;
  align-items: center; */
}
.image {
  width: 40vh;
  height: 85vh;
  border-radius: 10px;
  display: flex;
}
/* .right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: #b8b5ff;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: #b8b5ff;
  z-index: 10;
  cursor: pointer;
  user-select: none;
} */

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}
@media only screen and (max-width: 1180px) {
  .about-image-wrapper {
    position: relative;
  }
}
@media only screen and (min-width: 1055px) {
  .main-container {
    float: right;
  }
}
@media only screen and (max-width: 1030px) {
  .image {
    align-items: center;
  }
}
