@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.home,
.about,
.projects {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  /* background-color: #b8b5ff; */
  background-color: black;
  /* color: #ffff; */
  color: pink;
  font-size: 75px;
  font-family: "Fjalla One", sans-serif;
  opacity: 90%;
}
/* .about__container {
  background-color: red;
} */

.daily-ui {
  font-family: "Fjalla One", sans-serif;
  /* margin-left: 37rem; */
  background-color: #e4fbff;
  font-size: 35px;
  margin-top: 3rem;
  text-align: center;
}
.daily-ui-p {
  font-family: "Fjalla One", sans-serif;
  justify-content: center;
  display: flex;
}

.coding {
  font-family: "Fjalla One", sans-serif;
  background-color: #e4fbff;
  font-size: 35px;
  /* margin-left: 37rem; */
  margin-top: 1rem;
  text-align: center;
}

.about {
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
}

.projects {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.about-text {
  text-align: center;
  margin-top: 10rem;
  color: black;
  font-size: 25px;
  margin-left: 10rem;
  margin-right: 10rem;
}

.about-adios {
  text-align: center;
  padding-top: 5rem;
  font-size: 30px;
  color: black;
  font-weight: bold;
}

.slider {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image {
  width: 350px;
  height: 750px;
  border-radius: 10px;
}
.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: #b8b5ff;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: #b8b5ff;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}
